/* productlist */

.products {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {

    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.product-card img{
    width: 250px;
}


.categories button.active {
    background-color: #333;
    color: white;
}
.categories button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
}

.categories button:hover {
    background-color: #aaa;
}

