/* productlist */

.products {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {

    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.product-card img{
    width: 250px;
}
