/* productlist */

.products {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {

    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.product-card img{
    width: 200px;
}
.product-card img:hover{
    transform: scale(1.1); 
}

.categories button.active {
    background-color: red;
    color: white;
}
.categories button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color:white;
}

.categories button:hover {
    background-color: #adaaaa;
}



/* slider Styles */
.slider {

    position: relative;
    width: 100%;
    max-width: 1000px;  
    margin:50px auto;
    overflow: hidden;
    
}

.slider-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
}

.slider-info {
    margin-bottom: 20px;
    width: 100%;
}

.slider-image img {
    width: 60%;
    height: auto;     /*Resp image*/
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-info button{
    background-color: red;
}


.navigation-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    /* display: inline-block; */
    cursor: pointer;
}

.dot.active {
    background-color: red;
}



/* allproducts */

.allproducts {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.allproducts-card {

    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.allproducts-card img{
    width: 200px;
}
.allproducts-card img:hover{
    transform: scale(1.1); 
}
